[include mainsail.cfg]
[exclude_object]
[include EBB36Can.cfg]
[include KAMP_Settings.cfg]
[include macros.cfg]
[include neopixel.cfg]

[temperature_sensor BTT_CB1]
sensor_type: temperature_host
min_temp: 10
max_temp: 100 

[temperature_sensor SKR_Pico]
sensor_type: temperature_mcu
sensor_mcu: mcu
min_temp: 0
max_temp: 100

[temperature_sensor ebb36]
sensor_type: temperature_mcu
sensor_mcu: EBBCan
min_temp: 0
max_temp: 100

[scanner]
canbus_uuid: 2a0496212cbc
#    adjust to suit your scanner, if using usb change to serial.
#    serial: /dev/serial/by-id/usb-cartographer_cartographer_
x_offset: 0                          
#    adjust for your cartographers offset from nozzle to middle of coil
y_offset: 15                         
#    adjust for your cartographers offset from nozzle to middle of coil
backlash_comp: 0.06531
#   Backlash compensation distance for removing Z backlash before measuring
#   the sensor response.
# 
#   Offsets are measured from the centre of your coil, to the tip of your nozzle 
#   on a level axis. It is vital that this is accurate. 
calibration_method: touch
#    leave this as touch unless you want to use scan only for everything. 
sensor: cartographer
#    this must be set as cartographer unless using IDM etc.
sensor_alt: carto
#    alternate name to call commands. CARTO_TOUCH etc
#scanner_touch_z_offset: 0.05         
#    This is the default and will be overwritten and added to the DO NOT SAVE area by using UI to save z offset
mesh_runs: 2
#    Number of passes to make during mesh scan.

[bed_mesh]
zero_reference_position: 115, 110    
#    set this to the middle of your bed
speed: 200
#    movement speed of toolhead during bed mesh
horizontal_move_z: 5
#    height of scanner during bed mesh scan
mesh_min: 35, 6
#    start point of bed mesh [X, Y]
mesh_max: 200, 175
#    end point of bed mesh [X, Y]
probe_count: 30, 30
algorithm: bicubic


[stepper_x]
step_pin: gpio11
dir_pin: !gpio10
enable_pin: !gpio12
microsteps: 16
rotation_distance: 40
endstop_pin: ^gpio4
# endstop_pin: tmc2209_stepper_x:virtual_endstop
# homing_retract_dist: 0
position_endstop: -20
position_min: -20
position_max: 230
homing_speed: 50

[tmc2209 stepper_x]
uart_pin: gpio9
tx_pin: gpio8
uart_address: 0
run_current: 0.8
hold_current: 0.6
stealthchop_threshold: 999999
# diag_pin: ^gpio4
# driver_SGTHRS: 100

[stepper_y]
step_pin: gpio6
dir_pin: !gpio5
enable_pin: !gpio7
microsteps: 16
rotation_distance: 40
endstop_pin: ^gpio3
# endstop_pin: tmc2209_stepper_y:virtual_endstop
# homing_retract_dist: 0
position_endstop: -10
position_min: -10
position_max: 220
homing_speed: 50

[tmc2209 stepper_y]
uart_pin: gpio9
tx_pin: gpio8
uart_address: 2
run_current: 0.8
hold_current: 0.6
stealthchop_threshold: 999999
diag_pin: ^gpio3
driver_SGTHRS: 100

[stepper_z]
step_pin: gpio19
dir_pin: !gpio28
enable_pin: !gpio2
microsteps: 16
rotation_distance: 40
gear_ratio: 80:16
# endstop_pin: ^gpio25
# position_endstop: 0
endstop_pin: probe:z_virtual_endstop
homing_retract_dist: 0 # cartographer needs this to be set to 0
position_min: -5.0
position_max: 220
homing_speed: 12

[tmc2209 stepper_z]
uart_pin: gpio9
tx_pin: gpio8
uart_address: 1
run_current: 0.580
hold_current: 0.500
stealthchop_threshold: 999999

[extruder]
#step_pin: gpio14
#dir_pin: !gpio13
#enable_pin: !gpio15
#microsteps: 16
#rotation_distance: 33.500
#nozzle_diameter: 0.4
#filament_diameter: 1.75
#heater_pin: gpio23
#sensor_type: EPCOS 100K B57560G104F
#sensor_pin: gpio27
#control: pid
#pid_Kp: 22.2
#pid_Ki: 1.08
#pid_Kd: 114
min_temp: 0
max_temp: 300
max_extrude_cross_section:5

[tmc2209 extruder]
uart_pin: gpio9
tx_pin: gpio8
uart_address: 3
run_current: 0.650
hold_current: 0.500
stealthchop_threshold: 999999

[filament_switch_sensor runout_sensor]
switch_pin: ^gpio16
pause_on_runout: True

# [filament_motion_sensor smart_sensor]
# switch_pin: ^gpio16
# detection_length: 2.5

[heater_bed]
heater_pin: gpio21
sensor_type: EPCOS 100K B57560G104F
sensor_pin: gpio26
#control: pid
#pid_Kp: 54.027
#pid_Ki: 0.770
#pid_Kd: 948.182
min_temp: 0
max_temp: 130

#[fan]
#pin: gpio17

#[heater_fan hotend_fan]
#pin: gpio18
#heater: extruder
#heater_temp: 50.0

[temperature_fan controller_fan]
pin: gpio20
cycle_time: 0.010
kick_start_time: 0.100
sensor_type: temperature_host
min_temp: 0
max_temp: 100
control: pid
pid_Kp: 74.421
pid_ki: 1.494
pid_kd: 926.537
#   The proportional (pid_Kp), integral (pid_Ki), and derivative
#   (pid_Kd) settings for the PID feedback control system. Klipper
#   evaluates the PID settings with the following general formula:
#     fan_pwm = max_power - (Kp*e + Ki*integral(e) - Kd*derivative(e)) / 255
#   Where "e" is "target_temperature - measured_temperature" and
#   "fan_pwm" is the requested fan rate with 0.0 being full off and
#   1.0 being full on. The pid_Kp, pid_Ki, and pid_Kd parameters must
#   be provided when the PID control algorithm is enabled.
pid_deriv_time: 2.0
#   A time value (in seconds) over which temperature measurements will
#   be smoothed when using the PID control algorithm. This may reduce
#   the impact of measurement noise. The default is 2 seconds.
target_temp: 50.0
#   A temperature (in Celsius) that will be the target temperature.
#   The default is 40 degrees.
max_speed: 1.0
#   The fan speed (expressed as a value from 0.0 to 1.0) that the fan
#   will be set to when the sensor temperature exceeds the set value.
#   The default is 1.0.
min_speed: 0.3
#   The minimum fan speed (expressed as a value from 0.0 to 1.0) that
#   the fan will be set to for PID temperature fans.
#   The default is 0.3.


[mcu]
# serial: /dev/serial/by-id/usb-Klipper_rp2040_E66094A027854422-if00
serial: /dev/ttyS0
restart_method: command

[mcu EBBCan]
canbus_uuid: a39854ca82d8

[printer]
kinematics: cartesian
max_velocity: 500
max_accel: 3000
max_z_velocity: 25
max_z_accel: 30

[firmware_retraction]
retract_length: 0.4
#   The length of filament (in mm) to retract when G10 is activated,
#   and to unretract when G11 is activated (but see
#   unretract_extra_length below). The default is 0 mm.
retract_speed: 30
#   The speed of retraction, in mm/s. The default is 20 mm/s.
#unretract_extra_length: 0
#   The length (in mm) of *additional* filament to add when
#   unretracting.
unretract_speed: 30
#   The speed of unretraction, in mm/s. The default is 10 mm/s.

[gcode_arcs]
resolution: 1.0
#   An arc will be split into segments. Each segment's length will
#   equal the resolution in mm set above. Lower values will produce a
#   finer arc, but also more work for your machine. Arcs smaller than
#   the configured value will become straight lines. The default is
#   1mm.


[input_shaper]
shaper_freq_x: 36.7
#   A frequency (in Hz) of the input shaper for X axis. This is
#   usually a resonance frequency of X axis that the input shaper
#   should suppress. For more complex shapers, like 2- and 3-hump EI
#   input shapers, this parameter can be set from different
#   considerations. The default value is 0, which disables input
#   shaping for X axis.
shaper_freq_y: 37
#   A frequency (in Hz) of the input shaper for Y axis. This is
#   usually a resonance frequency of Y axis that the input shaper
#   should suppress. For more complex shapers, like 2- and 3-hump EI
#   input shapers, this parameter can be set from different
#   considerations. The default value is 0, which disables input
#   shaping for Y axis.
shaper_type: mzv
#   A type of the input shaper to use for both X and Y axes. Supported
#   shapers are zv, mzv, zvd, ei, 2hump_ei, and 3hump_ei. The default
#   is mzv input shaper.
#shaper_type_x:
#shaper_type_y:
#   If shaper_type is not set, these two parameters can be used to
#   configure different input shapers for X and Y axes. The same
#   values are supported as for shaper_type parameter.
damping_ratio_x: 0.1
damping_ratio_y: 0.1
#   Damping ratios of vibrations of X and Y axes used by input shapers
#   to improve vibration suppression. Default value is 0.1 which is a
#   good all-round value for most printers. In most circumstances this
#   parameter requires no tuning and should not be changed.


#[bltouch]
#sensor_pin: ^gpio22
#control_pin: gpio29
#x_offset: 0
#y_offset: -24.0
#z_offset: 0
#speed: 20
#samples: 1
#sample_retract_dist: 8.0

[neopixel board_rgb]
pin: gpio24
chain_count: 1
color_order: GRB
initial_RED: 0.3
initial_GREEN: 0.3
initial_BLUE: 0.3

[safe_z_home]
home_xy_position: 115,110
speed: 150
z_hop: 10
z_hop_speed: 10


[bed_screws]
screw1:30,25
screw1_name:1
screw2:200,25
screw2_name:2
screw3:200,195
screw3_name:3
screw4:30,195
screw4_name:4

[screws_tilt_adjust]
screw1: 30, 5
screw1_name: front left screw
screw2: 200, 5
screw2_name: front right screw
screw3: 200, 175
screw3_name: rear right screw
screw4: 30, 175
screw4_name: rear left screw
horizontal_move_z: 10
speed: 200
screw_thread: CW-M4 # Use CW for Clockwise and CCW for Counter Clockwise

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 36.751
#*# pid_ki = 11.667
#*# pid_kd = 28.942
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 74.421
#*# pid_ki = 1.494
#*# pid_kd = 926.537
#*#
#*# [scanner model default]
#*# model_coef = 1.5510023667616317,
#*# 	2.004132176913393,
#*# 	0.6781380628406042,
#*# 	0.07511491635341018,
#*# 	0.47753594409556244,
#*# 	0.955420679266853,
#*# 	-0.43644675107247083,
#*# 	-1.0572657511072026,
#*# 	0.28232152166797564,
#*# 	0.47892071028726757
#*# model_domain = 3.282032117126226e-07,3.3243543294780735e-07
#*# model_range = 0.100000,5.000000
#*# model_temp = 56.523546
#*# model_offset = 0.00000
#*#
#*# [scanner]
#*# scanner_touch_threshold = 1000
#*# scanner_touch_z_offset = 0.205
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  0.203607, 0.180037, 0.154229, 0.127747, 0.102472, 0.074696, 0.045499, 0.020536, -0.008491, -0.036369, -0.062605, -0.089592, -0.117862, -0.147100, -0.171445
#*# 	  0.206018, 0.184149, 0.155651, 0.128948, 0.107369, 0.076833, 0.051359, 0.023519, -0.006845, -0.033384, -0.060769, -0.088663, -0.116945, -0.146411, -0.172804
#*# 	  0.212151, 0.186742, 0.162020, 0.133672, 0.111320, 0.081242, 0.054740, 0.025659, -0.004094, -0.030281, -0.057506, -0.084244, -0.119018, -0.141868, -0.166460
#*# 	  0.211978, 0.184382, 0.158100, 0.134273, 0.106982, 0.077881, 0.051044, 0.020638, -0.007424, -0.035871, -0.063508, -0.088715, -0.117008, -0.146860, -0.169409
#*# 	  0.209730, 0.185125, 0.157065, 0.128467, 0.105905, 0.073076, 0.045615, 0.017555, -0.010480, -0.037025, -0.063772, -0.089566, -0.116907, -0.145557, -0.169606
#*# 	  0.207069, 0.180501, 0.151167, 0.125975, 0.098076, 0.068996, 0.041172, 0.010261, -0.015507, -0.041652, -0.069359, -0.093006, -0.121274, -0.151589, -0.172342
#*# 	  0.210217, 0.182267, 0.150153, 0.121378, 0.094977, 0.064111, 0.038103, 0.006163, -0.018427, -0.045735, -0.070783, -0.095070, -0.123652, -0.151038, -0.175240
#*# 	  0.199175, 0.171197, 0.143272, 0.116694, 0.087946, 0.060528, 0.034558, 0.004916, -0.021104, -0.046897, -0.072881, -0.094713, -0.120719, -0.148258, -0.169315
#*# 	  0.194293, 0.166171, 0.135895, 0.113210, 0.086468, 0.058753, 0.032194, 0.002202, -0.020731, -0.044907, -0.072221, -0.091077, -0.118727, -0.145632, -0.165320
#*# 	  0.191406, 0.161425, 0.135030, 0.111717, 0.086061, 0.060499, 0.035099, 0.009499, -0.015758, -0.042606, -0.070562, -0.088530, -0.113086, -0.141589, -0.163942
#*# 	  0.184825, 0.159188, 0.135339, 0.111260, 0.086225, 0.060988, 0.036002, 0.008025, -0.015984, -0.036921, -0.062301, -0.085815, -0.112629, -0.135735, -0.158621
#*# 	  0.185637, 0.161124, 0.134902, 0.111320, 0.087138, 0.063628, 0.040638, 0.015742, -0.009011, -0.034480, -0.061022, -0.079983, -0.102279, -0.131925, -0.153559
#*# 	  0.190937, 0.164794, 0.139792, 0.115238, 0.092968, 0.067030, 0.043897, 0.018887, -0.007772, -0.030111, -0.054634, -0.076718, -0.098958, -0.126965, -0.147736
#*# 	  0.196905, 0.175820, 0.148865, 0.120767, 0.098226, 0.074258, 0.047892, 0.024905, 0.003027, -0.023331, -0.048281, -0.070128, -0.096922, -0.121078, -0.138246
#*# x_count = 15
#*# y_count = 14
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 77.5
#*# max_x = 152.5
#*# min_y = 67.5
#*# max_y = 142.5
