[include mainsail.cfg]
[exclude_object]
[include EBB36Can.cfg]
[include KAMP_Settings.cfg]
[include macros.cfg]
[include neopixel.cfg]

[temperature_sensor BTT_CB1]
sensor_type: temperature_host
min_temp: 10
max_temp: 100 

[temperature_sensor SKR_Pico]
sensor_type: temperature_mcu
sensor_mcu: mcu
min_temp: 0
max_temp: 100

[temperature_sensor ebb36]
sensor_type: temperature_mcu
sensor_mcu: EBBCan
min_temp: 0
max_temp: 100

[scanner]
canbus_uuid: 2a0496212cbc
#    adjust to suit your scanner, if using usb change to serial.
#    serial: /dev/serial/by-id/usb-cartographer_cartographer_
x_offset: 0                          
#    adjust for your cartographers offset from nozzle to middle of coil
y_offset: 15                         
#    adjust for your cartographers offset from nozzle to middle of coil
backlash_comp: 0.06531
#   Backlash compensation distance for removing Z backlash before measuring
#   the sensor response.
# 
#   Offsets are measured from the centre of your coil, to the tip of your nozzle 
#   on a level axis. It is vital that this is accurate. 
calibration_method: scan
#    leave this as touch unless you want to use scan only for everything. 
sensor: cartographer
#    this must be set as cartographer unless using IDM etc.
sensor_alt: carto
#    alternate name to call commands. CARTO_TOUCH etc
#scanner_touch_z_offset: 0.05         
#    This is the default and will be overwritten and added to the DO NOT SAVE area by using UI to save z offset
mesh_runs: 2
#    Number of passes to make during mesh scan.

[bed_mesh]
zero_reference_position: 115, 110    
#    set this to the middle of your bed
speed: 200
#    movement speed of toolhead during bed mesh
horizontal_move_z: 5
#    height of scanner during bed mesh scan
mesh_min: 35, 6
#    start point of bed mesh [X, Y]
mesh_max: 200, 175
#    end point of bed mesh [X, Y]
probe_count: 30, 30
algorithm: bicubic


[stepper_x]
step_pin: gpio11
dir_pin: !gpio10
enable_pin: !gpio12
microsteps: 16
rotation_distance: 40
endstop_pin: ^gpio4
# endstop_pin: tmc2209_stepper_x:virtual_endstop
# homing_retract_dist: 0
position_endstop: -20
position_min: -20
position_max: 230
homing_speed: 50

[tmc2209 stepper_x]
uart_pin: gpio9
tx_pin: gpio8
uart_address: 0
run_current: 0.8
hold_current: 0.6
stealthchop_threshold: 999999
# diag_pin: ^gpio4
# driver_SGTHRS: 100

[stepper_y]
step_pin: gpio6
dir_pin: !gpio5
enable_pin: !gpio7
microsteps: 16
rotation_distance: 40
endstop_pin: ^gpio3
# endstop_pin: tmc2209_stepper_y:virtual_endstop
# homing_retract_dist: 0
position_endstop: -10
position_min: -10
position_max: 220
homing_speed: 50

[tmc2209 stepper_y]
uart_pin: gpio9
tx_pin: gpio8
uart_address: 2
run_current: 0.8
hold_current: 0.6
stealthchop_threshold: 999999
diag_pin: ^gpio3
driver_SGTHRS: 100

[stepper_z]
step_pin: gpio19
dir_pin: !gpio28
enable_pin: !gpio2
microsteps: 16
rotation_distance: 40
gear_ratio: 80:16
# endstop_pin: ^gpio25
# position_endstop: 0
endstop_pin: probe:z_virtual_endstop
homing_retract_dist: 0 # cartographer needs this to be set to 0
position_min: -5.0
position_max: 220
homing_speed: 12

[tmc2209 stepper_z]
uart_pin: gpio9
tx_pin: gpio8
uart_address: 1
run_current: 0.580
hold_current: 0.500
stealthchop_threshold: 999999

[extruder]
#step_pin: gpio14
#dir_pin: !gpio13
#enable_pin: !gpio15
#microsteps: 16
#rotation_distance: 33.500
#nozzle_diameter: 0.4
#filament_diameter: 1.75
#heater_pin: gpio23
#sensor_type: EPCOS 100K B57560G104F
#sensor_pin: gpio27
#control: pid
#pid_Kp: 22.2
#pid_Ki: 1.08
#pid_Kd: 114
min_temp: 0
max_temp: 300
max_extrude_cross_section:5

[tmc2209 extruder]
uart_pin: gpio9
tx_pin: gpio8
uart_address: 3
run_current: 0.650
hold_current: 0.500
stealthchop_threshold: 999999

[filament_switch_sensor runout_sensor]
switch_pin: ^gpio16
pause_on_runout: True

# [filament_motion_sensor smart_sensor]
# switch_pin: ^gpio16
# detection_length: 2.5

[heater_bed]
heater_pin: gpio21
sensor_type: EPCOS 100K B57560G104F
sensor_pin: gpio26
#control: pid
#pid_Kp: 54.027
#pid_Ki: 0.770
#pid_Kd: 948.182
min_temp: 0
max_temp: 130

#[fan]
#pin: gpio17

#[heater_fan hotend_fan]
#pin: gpio18
#heater: extruder
#heater_temp: 50.0

[temperature_fan controller_fan]
pin: gpio20
cycle_time: 0.010
kick_start_time: 0.100
sensor_type: temperature_host
min_temp: 0
max_temp: 100
control: pid
pid_Kp: 74.421
pid_ki: 1.494
pid_kd: 926.537
#   The proportional (pid_Kp), integral (pid_Ki), and derivative
#   (pid_Kd) settings for the PID feedback control system. Klipper
#   evaluates the PID settings with the following general formula:
#     fan_pwm = max_power - (Kp*e + Ki*integral(e) - Kd*derivative(e)) / 255
#   Where "e" is "target_temperature - measured_temperature" and
#   "fan_pwm" is the requested fan rate with 0.0 being full off and
#   1.0 being full on. The pid_Kp, pid_Ki, and pid_Kd parameters must
#   be provided when the PID control algorithm is enabled.
pid_deriv_time: 2.0
#   A time value (in seconds) over which temperature measurements will
#   be smoothed when using the PID control algorithm. This may reduce
#   the impact of measurement noise. The default is 2 seconds.
target_temp: 50.0
#   A temperature (in Celsius) that will be the target temperature.
#   The default is 40 degrees.
max_speed: 1.0
#   The fan speed (expressed as a value from 0.0 to 1.0) that the fan
#   will be set to when the sensor temperature exceeds the set value.
#   The default is 1.0.
min_speed: 0.3
#   The minimum fan speed (expressed as a value from 0.0 to 1.0) that
#   the fan will be set to for PID temperature fans.
#   The default is 0.3.


[mcu]
# serial: /dev/serial/by-id/usb-Klipper_rp2040_E66094A027854422-if00
serial: /dev/ttyS0
restart_method: command

[mcu EBBCan]
canbus_uuid: a39854ca82d8

[printer]
kinematics: cartesian
max_velocity: 500
max_accel: 3000
max_z_velocity: 25
max_z_accel: 30

[firmware_retraction]
retract_length: 0.4
#   The length of filament (in mm) to retract when G10 is activated,
#   and to unretract when G11 is activated (but see
#   unretract_extra_length below). The default is 0 mm.
retract_speed: 30
#   The speed of retraction, in mm/s. The default is 20 mm/s.
#unretract_extra_length: 0
#   The length (in mm) of *additional* filament to add when
#   unretracting.
unretract_speed: 30
#   The speed of unretraction, in mm/s. The default is 10 mm/s.

[gcode_arcs]
resolution: 1.0
#   An arc will be split into segments. Each segment's length will
#   equal the resolution in mm set above. Lower values will produce a
#   finer arc, but also more work for your machine. Arcs smaller than
#   the configured value will become straight lines. The default is
#   1mm.


[input_shaper]
shaper_freq_x: 36.7
#   A frequency (in Hz) of the input shaper for X axis. This is
#   usually a resonance frequency of X axis that the input shaper
#   should suppress. For more complex shapers, like 2- and 3-hump EI
#   input shapers, this parameter can be set from different
#   considerations. The default value is 0, which disables input
#   shaping for X axis.
shaper_freq_y: 37
#   A frequency (in Hz) of the input shaper for Y axis. This is
#   usually a resonance frequency of Y axis that the input shaper
#   should suppress. For more complex shapers, like 2- and 3-hump EI
#   input shapers, this parameter can be set from different
#   considerations. The default value is 0, which disables input
#   shaping for Y axis.
shaper_type: mzv
#   A type of the input shaper to use for both X and Y axes. Supported
#   shapers are zv, mzv, zvd, ei, 2hump_ei, and 3hump_ei. The default
#   is mzv input shaper.
#shaper_type_x:
#shaper_type_y:
#   If shaper_type is not set, these two parameters can be used to
#   configure different input shapers for X and Y axes. The same
#   values are supported as for shaper_type parameter.
damping_ratio_x: 0.1
damping_ratio_y: 0.1
#   Damping ratios of vibrations of X and Y axes used by input shapers
#   to improve vibration suppression. Default value is 0.1 which is a
#   good all-round value for most printers. In most circumstances this
#   parameter requires no tuning and should not be changed.


#[bltouch]
#sensor_pin: ^gpio22
#control_pin: gpio29
#x_offset: 0
#y_offset: -24.0
#z_offset: 0
#speed: 20
#samples: 1
#sample_retract_dist: 8.0

[neopixel board_rgb]
pin: gpio24
chain_count: 1
color_order: GRB
initial_RED: 0.3
initial_GREEN: 0.3
initial_BLUE: 0.3

[safe_z_home]
home_xy_position: 115,110
speed: 150
z_hop: 10
z_hop_speed: 10


[bed_screws]
screw1:30,25
screw1_name:1
screw2:200,25
screw2_name:2
screw3:200,195
screw3_name:3
screw4:30,195
screw4_name:4

[screws_tilt_adjust]
screw1: 30, 5
screw1_name: front left screw
screw2: 200, 5
screw2_name: front right screw
screw3: 200, 175
screw3_name: rear right screw
screw4: 30, 175
screw4_name: rear left screw
horizontal_move_z: 10
speed: 200
screw_thread: CW-M4 # Use CW for Clockwise and CCW for Counter Clockwise

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 36.751
#*# pid_ki = 11.667
#*# pid_kd = 28.942
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 74.421
#*# pid_ki = 1.494
#*# pid_kd = 926.537
#*#
#*# [scanner model default]
#*# model_coef = 1.4984569909645933,
#*# 	  1.7128035335490976,
#*# 	  0.7697762085942967,
#*# 	  0.07641542683473289,
#*# 	  -0.03048165515031155,
#*# 	  1.6463808755992877,
#*# 	  0.8499019005092148,
#*# 	  -2.6436005591342386,
#*# 	  -0.541504887747535,
#*# 	  1.6631284972061717
#*# model_domain = 3.116123924226334e-07,3.301491168143151e-07
#*# model_range = 0.100000,5.000000
#*# model_temp = 57.837810
#*# model_offset = 0.82500
#*#
#*# [scanner]
#*# scanner_touch_threshold = 3000
#*# scanner_touch_z_offset = 0
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  0.013174, 0.009694, 0.005607, 0.006400, 0.005654, 0.004817, 0.008265, 0.009407, 0.008062, 0.007736, 0.005940, 0.004273, 0.003961, 0.004303, 0.001939, 0.002487, -0.001364, -0.001583, -0.004145, 0.000514, -0.002481
#*# 	  0.013212, 0.008161, 0.010551, 0.004839, 0.005425, 0.007785, 0.011026, 0.011413, 0.011203, 0.011099, 0.008117, 0.008449, 0.003853, 0.006251, 0.001842, 0.005755, -0.001003, 0.000858, -0.003689, -0.000675, -0.002630
#*# 	  0.014711, 0.009892, 0.007778, 0.007093, 0.007780, 0.010661, 0.014194, 0.015136, 0.017077, 0.017933, 0.015071, 0.014124, 0.013626, 0.012378, 0.008959, 0.008668, 0.006422, 0.003130, 0.001050, 0.002275, 0.000102
#*# 	  0.019270, 0.018816, 0.011091, 0.010233, 0.011186, 0.012229, 0.014690, 0.015442, 0.015989, 0.011678, 0.011938, 0.009730, 0.009814, 0.007503, 0.008076, 0.005726, 0.007266, 0.003510, 0.002475, 0.003026, 0.003930
#*# 	  0.019916, 0.017528, 0.007861, 0.008737, 0.010592, 0.011039, 0.013528, 0.016234, 0.016226, 0.012533, 0.013297, 0.012737, 0.012876, 0.009840, 0.009113, 0.011562, 0.010133, 0.006859, 0.005316, 0.007545, 0.007224
#*# 	  0.022151, 0.012914, 0.008095, 0.005989, 0.007165, 0.008138, 0.009816, 0.009209, 0.008555, 0.011041, 0.007752, 0.007677, 0.008824, 0.008517, 0.006778, 0.006886, 0.007782, 0.005624, 0.002394, 0.003919, 0.007229
#*# 	  0.011722, 0.005851, 0.002558, 0.004923, 0.007727, 0.004204, 0.007244, 0.006910, 0.006262, 0.006176, 0.006083, 0.005030, 0.005186, 0.004980, 0.005876, 0.005687, 0.007761, 0.009034, 0.009930, 0.008285, 0.011217
#*# 	  0.003713, -0.002450, -0.003489, -0.002117, -0.003151, -0.002605, 0.000295, -0.001047, 0.000429, -0.002506, 0.000112, -0.002479, 0.003311, 0.002171, 0.005537, 0.003279, 0.005634, 0.008975, 0.008616, 0.008257, 0.014858
#*# 	  -0.005736, -0.007151, -0.011938, -0.006888, -0.007034, -0.007041, -0.003590, -0.005648, -0.006164, -0.005855, -0.005988, -0.006354, -0.003054, 0.001662, 0.000309, 0.002671, 0.007459, 0.010931, 0.009422, 0.014320, 0.017136
#*# 	  -0.011365, -0.017371, -0.019061, -0.015105, -0.013181, -0.011408, -0.010105, -0.006733, -0.007967, -0.006080, -0.007903, -0.005217, -0.001589, 0.002612, 0.003760, 0.006736, 0.008536, 0.011188, 0.011641, 0.015395, 0.019242
#*# 	  -0.016497, -0.023970, -0.025802, -0.023318, -0.020948, -0.018354, -0.012201, -0.009620, -0.008757, -0.007670, -0.007932, -0.004748, -0.002279, 0.001224, 0.002834, 0.006444, 0.009499, 0.011181, 0.013349, 0.016293, 0.022180
#*# 	  -0.021670, -0.025601, -0.028855, -0.027128, -0.027218, -0.023221, -0.017397, -0.013827, -0.009987, -0.006648, -0.004374, -0.004457, -0.000396, 0.002756, 0.005283, 0.008088, 0.013972, 0.018147, 0.018819, 0.019350, 0.024955
#*# 	  -0.028614, -0.032861, -0.034104, -0.028133, -0.023786, -0.021138, -0.014293, -0.012362, -0.008941, -0.009870, -0.003830, -0.002598, 0.004455, 0.009722, 0.013963, 0.014864, 0.016373, 0.020808, 0.020889, 0.022234, 0.026693
#*# 	  -0.028338, -0.030061, -0.030997, -0.024605, -0.023958, -0.020971, -0.014802, -0.009921, -0.007296, -0.005651, -0.000027, 0.003393, 0.006926, 0.011393, 0.013988, 0.014775, 0.020633, 0.023963, 0.024665, 0.027632, 0.032242
#*# 	  -0.023247, -0.021862, -0.023639, -0.019656, -0.018905, -0.016086, -0.014355, -0.007505, -0.007250, 0.001763, 0.001386, 0.003557, 0.007845, 0.011757, 0.012302, 0.012875, 0.017115, 0.021149, 0.021813, 0.025248, 0.026136
#*# 	  -0.015389, -0.011606, -0.015698, -0.016055, -0.013936, -0.008696, -0.010623, -0.007278, -0.003091, -0.001245, 0.001563, 0.004663, 0.006392, 0.008472, 0.009534, 0.013700, 0.018126, 0.017926, 0.018144, 0.020920, 0.018746
#*# x_count = 21
#*# y_count = 16
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 60.5
#*# max_x = 169.5
#*# min_y = 62.0
#*# max_y = 148.0
